<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Exclude>[AudioWorks.*.Tests],[AudioWorks.TestUtilities]</Exclude>
          <IncludeDirectory>%LOCALAPPDATADIR%\Extensions\netcoreapp2.1\*,%BUILD_SOURCESDIRECTORY%\AudioWorks\src\AudioWorks.Commands\bin\%BUILDCONFIGURATION%\AudioWorks.Commands\netcoreapp2.1"</IncludeDirectory>
          <UseSourceLink>true</UseSourceLink>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
