<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Exclude>[AudioWorks.*.Tests]*,[AudioWorks.TestUtilities]*</Exclude>
          <IncludeDirectory>%BUILD_SOURCESDIRECTORY%/AudioWorks/tests/AudioWorks.Commands.Tests/bin/%BUILDCONFIGURATION%/netcoreapp3.1/AudioWorks.Commands/netcoreapp3.1,%LOCALAPPDATADIR%/Extensions/netcoreapp3.1/*</IncludeDirectory>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
