
[*.proto]
indent_style = tab
indent_size = tab
tab_width = 4

[*.{jsx,tsx,aspx,ascx,master,asax,skin,cs,css,html,htm,js,cshtml,ts,vb,xaml,xamlx,xoml}]
indent_style = space
indent_size = 4
tab_width = 4

[*.{json,appxmanifest,dtd,proj,targets,tasks,csproj,vbproj,jsproj,lsproj,props,njsproj,build,resjson,resw,resx,config,xml,dbml,discomap,StyleCop,xsd,nuspec}]
indent_style = space
indent_size = 2
tab_width = 2

[*]

# Microsoft .NET properties
csharp_indent_braces = false
csharp_indent_switch_labels = true
csharp_new_line_before_catch = true
csharp_new_line_before_else = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_open_brace = all
csharp_new_line_between_query_expression_clauses = true
csharp_prefer_simple_using_statement = false
csharp_preferred_modifier_order = public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_preserve_single_line_blocks = true
csharp_space_after_cast = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false
csharp_style_expression_bodied_accessors = true:suggestion
csharp_style_expression_bodied_constructors = true:suggestion
csharp_style_expression_bodied_methods = true:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
dotnet_naming_rule.constants_rule.severity = warning
dotnet_naming_rule.constants_rule.style = upper_camel_case_style
dotnet_naming_rule.constants_rule.symbols = constants_symbols
dotnet_naming_rule.private_constants_rule.severity = warning
dotnet_naming_rule.private_constants_rule.style = lower_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols
dotnet_naming_rule.private_static_readonly_rule.severity = warning
dotnet_naming_rule.private_static_readonly_rule.style = lower_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols
dotnet_naming_rule.static_readonly_rule.severity = warning
dotnet_naming_rule.static_readonly_rule.style = lower_camel_case_style
dotnet_naming_rule.static_readonly_rule.symbols = static_readonly_symbols
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.lower_camel_case_style.required_prefix = _
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.constants_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds = field
dotnet_naming_symbols.constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = static,readonly
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers = static,readonly
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators = never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_qualification_for_event = false:warning
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_style_require_accessibility_modifiers = never:suggestion

# Standard properties
end_of_line = native
insert_final_newline = false

# Code analysis
[*.{cs,vb}]
dotnet_diagnostic.ca1000.severity = warning
dotnet_diagnostic.ca1001.severity = warning
dotnet_diagnostic.ca1002.severity = warning
dotnet_diagnostic.ca1003.severity = warning
dotnet_diagnostic.ca1005.severity = warning
dotnet_diagnostic.ca1008.severity = warning
dotnet_diagnostic.ca1010.severity = warning
dotnet_diagnostic.ca1012.severity = warning
dotnet_diagnostic.ca1014.severity = warning
dotnet_diagnostic.ca1016.severity = warning
dotnet_diagnostic.ca1017.severity = warning
dotnet_diagnostic.ca1018.severity = warning
dotnet_diagnostic.ca1019.severity = warning
dotnet_diagnostic.ca1021.severity = warning
dotnet_diagnostic.ca1024.severity = warning
dotnet_diagnostic.ca1027.severity = warning
dotnet_diagnostic.ca1028.severity = warning
dotnet_diagnostic.ca1030.severity = warning
dotnet_diagnostic.ca1031.severity = warning
dotnet_diagnostic.ca1032.severity = warning
dotnet_diagnostic.ca1033.severity = warning
dotnet_diagnostic.ca1034.severity = warning
dotnet_diagnostic.ca1036.severity = warning
dotnet_diagnostic.ca1040.severity = warning
dotnet_diagnostic.ca1041.severity = warning
dotnet_diagnostic.ca1043.severity = warning
dotnet_diagnostic.ca1044.severity = warning
dotnet_diagnostic.ca1045.severity = warning
dotnet_diagnostic.ca1046.severity = warning
dotnet_diagnostic.ca1047.severity = warning
dotnet_diagnostic.ca1050.severity = warning
dotnet_diagnostic.ca1051.severity = warning
dotnet_diagnostic.ca1052.severity = warning
dotnet_diagnostic.ca1054.severity = warning
dotnet_diagnostic.ca1055.severity = warning
dotnet_diagnostic.ca1056.severity = warning
dotnet_diagnostic.ca1058.severity = warning
dotnet_diagnostic.ca1060.severity = warning
dotnet_diagnostic.ca1061.severity = warning
dotnet_diagnostic.ca1062.severity = warning
dotnet_diagnostic.ca1063.severity = none
dotnet_diagnostic.ca1064.severity = warning
dotnet_diagnostic.ca1065.severity = warning
dotnet_diagnostic.ca1066.severity = warning
dotnet_diagnostic.ca1067.severity = warning
dotnet_diagnostic.ca1068.severity = warning
dotnet_diagnostic.ca1069.severity = warning
dotnet_diagnostic.ca1070.severity = warning
dotnet_diagnostic.ca1200.severity = warning
dotnet_diagnostic.ca1303.severity = none
dotnet_diagnostic.ca1304.severity = warning
dotnet_diagnostic.ca1305.severity = warning
dotnet_diagnostic.ca1307.severity = warning
dotnet_diagnostic.ca1308.severity = warning
dotnet_diagnostic.ca1309.severity = warning
dotnet_diagnostic.ca1310.severity = warning
dotnet_diagnostic.ca1401.severity = warning
dotnet_diagnostic.ca1416.severity = warning
dotnet_diagnostic.ca1417.severity = warning
dotnet_diagnostic.ca1501.severity = warning
dotnet_diagnostic.ca1502.severity = warning
dotnet_diagnostic.ca1505.severity = warning
dotnet_diagnostic.ca1506.severity = warning
dotnet_diagnostic.ca1507.severity = warning
dotnet_diagnostic.ca1508.severity = none
dotnet_diagnostic.ca1509.severity = warning
dotnet_diagnostic.ca1700.severity = warning
dotnet_diagnostic.ca1707.severity = warning
dotnet_diagnostic.ca1708.severity = warning
dotnet_diagnostic.ca1710.severity = warning
dotnet_diagnostic.ca1711.severity = warning
dotnet_diagnostic.ca1712.severity = warning
dotnet_diagnostic.ca1713.severity = warning
dotnet_diagnostic.ca1715.severity = warning
dotnet_diagnostic.ca1716.severity = warning
dotnet_diagnostic.ca1720.severity = warning
dotnet_diagnostic.ca1721.severity = warning
dotnet_diagnostic.ca1724.severity = warning
dotnet_diagnostic.ca1725.severity = warning
dotnet_diagnostic.ca1801.severity = warning
dotnet_diagnostic.ca1802.severity = warning
dotnet_diagnostic.ca1805.severity = warning
dotnet_diagnostic.ca1806.severity = warning
dotnet_diagnostic.ca1810.severity = warning
dotnet_diagnostic.ca1812.severity = warning
dotnet_diagnostic.ca1813.severity = warning
dotnet_diagnostic.ca1814.severity = warning
dotnet_diagnostic.ca1815.severity = warning
dotnet_diagnostic.ca1816.severity = warning
dotnet_diagnostic.ca1819.severity = warning
dotnet_diagnostic.ca1820.severity = warning
dotnet_diagnostic.ca1821.severity = warning
dotnet_diagnostic.ca1822.severity = warning
dotnet_diagnostic.ca1823.severity = warning
dotnet_diagnostic.ca1824.severity = warning
dotnet_diagnostic.ca1825.severity = warning
dotnet_diagnostic.ca1826.severity = warning
dotnet_diagnostic.ca1827.severity = warning
dotnet_diagnostic.ca1828.severity = warning
dotnet_diagnostic.ca1829.severity = warning
dotnet_diagnostic.ca1830.severity = warning
dotnet_diagnostic.ca1831.severity = warning
dotnet_diagnostic.ca1832.severity = warning
dotnet_diagnostic.ca1833.severity = warning
dotnet_diagnostic.ca1834.severity = warning
dotnet_diagnostic.ca1835.severity = warning
dotnet_diagnostic.ca1836.severity = warning
dotnet_diagnostic.ca1837.severity = warning
dotnet_diagnostic.ca1838.severity = warning
dotnet_diagnostic.ca2000.severity = warning
dotnet_diagnostic.ca2002.severity = warning
dotnet_diagnostic.ca2007.severity = warning
dotnet_diagnostic.ca2008.severity = warning
dotnet_diagnostic.ca2009.severity = warning
dotnet_diagnostic.ca2011.severity = warning
dotnet_diagnostic.ca2012.severity = warning
dotnet_diagnostic.ca2013.severity = warning
dotnet_diagnostic.ca2014.severity = warning
dotnet_diagnostic.ca2015.severity = warning
dotnet_diagnostic.ca2016.severity = warning
dotnet_diagnostic.ca2100.severity = warning
dotnet_diagnostic.ca2101.severity = warning
dotnet_diagnostic.ca2109.severity = warning
dotnet_diagnostic.ca2119.severity = warning
dotnet_diagnostic.ca2153.severity = warning
dotnet_diagnostic.ca2200.severity = warning
dotnet_diagnostic.ca2201.severity = warning
dotnet_diagnostic.ca2207.severity = warning
dotnet_diagnostic.ca2208.severity = warning
dotnet_diagnostic.ca2211.severity = warning
dotnet_diagnostic.ca2213.severity = warning
dotnet_diagnostic.ca2214.severity = warning
dotnet_diagnostic.ca2215.severity = warning
dotnet_diagnostic.ca2216.severity = warning
dotnet_diagnostic.ca2217.severity = warning
dotnet_diagnostic.ca2219.severity = warning
dotnet_diagnostic.ca2225.severity = warning
dotnet_diagnostic.ca2226.severity = warning
dotnet_diagnostic.ca2227.severity = warning
dotnet_diagnostic.ca2229.severity = warning
dotnet_diagnostic.ca2231.severity = warning
dotnet_diagnostic.ca2234.severity = warning
dotnet_diagnostic.ca2235.severity = warning
dotnet_diagnostic.ca2237.severity = warning
dotnet_diagnostic.ca2241.severity = warning
dotnet_diagnostic.ca2242.severity = warning
dotnet_diagnostic.ca2243.severity = warning
dotnet_diagnostic.ca2244.severity = warning
dotnet_diagnostic.ca2245.severity = warning
dotnet_diagnostic.ca2246.severity = warning
dotnet_diagnostic.ca2247.severity = warning
dotnet_diagnostic.ca2248.severity = warning
dotnet_diagnostic.ca2249.severity = warning
dotnet_diagnostic.ca2300.severity = warning
dotnet_diagnostic.ca2301.severity = warning
dotnet_diagnostic.ca2302.severity = warning
dotnet_diagnostic.ca2305.severity = warning
dotnet_diagnostic.ca2310.severity = warning
dotnet_diagnostic.ca2311.severity = warning
dotnet_diagnostic.ca2312.severity = warning
dotnet_diagnostic.ca2315.severity = warning
dotnet_diagnostic.ca2321.severity = warning
dotnet_diagnostic.ca2322.severity = warning
dotnet_diagnostic.ca2326.severity = warning
dotnet_diagnostic.ca2327.severity = warning
dotnet_diagnostic.ca2328.severity = warning
dotnet_diagnostic.ca2329.severity = warning
dotnet_diagnostic.ca2330.severity = warning
dotnet_diagnostic.ca2350.severity = warning
dotnet_diagnostic.ca2351.severity = warning
dotnet_diagnostic.ca2352.severity = warning
dotnet_diagnostic.ca2353.severity = warning
dotnet_diagnostic.ca2354.severity = warning
dotnet_diagnostic.ca2355.severity = warning
dotnet_diagnostic.ca2356.severity = warning
dotnet_diagnostic.ca2361.severity = warning
dotnet_diagnostic.ca2362.severity = warning
dotnet_diagnostic.ca3001.severity = warning
dotnet_diagnostic.ca3002.severity = warning
dotnet_diagnostic.ca3003.severity = warning
dotnet_diagnostic.ca3004.severity = warning
dotnet_diagnostic.ca3005.severity = warning
dotnet_diagnostic.ca3006.severity = warning
dotnet_diagnostic.ca3007.severity = warning
dotnet_diagnostic.ca3008.severity = warning
dotnet_diagnostic.ca3009.severity = warning
dotnet_diagnostic.ca3010.severity = warning
dotnet_diagnostic.ca3011.severity = warning
dotnet_diagnostic.ca3012.severity = warning
dotnet_diagnostic.ca3061.severity = warning
dotnet_diagnostic.ca3075.severity = warning
dotnet_diagnostic.ca3076.severity = warning
dotnet_diagnostic.ca3077.severity = warning
dotnet_diagnostic.ca3147.severity = warning
dotnet_diagnostic.ca5350.severity = warning
dotnet_diagnostic.ca5351.severity = warning
dotnet_diagnostic.ca5358.severity = warning
dotnet_diagnostic.ca5359.severity = warning
dotnet_diagnostic.ca5360.severity = warning
dotnet_diagnostic.ca5361.severity = warning
dotnet_diagnostic.ca5362.severity = warning
dotnet_diagnostic.ca5363.severity = warning
dotnet_diagnostic.ca5364.severity = warning
dotnet_diagnostic.ca5365.severity = warning
dotnet_diagnostic.ca5366.severity = warning
dotnet_diagnostic.ca5367.severity = warning
dotnet_diagnostic.ca5368.severity = warning
dotnet_diagnostic.ca5369.severity = warning
dotnet_diagnostic.ca5370.severity = warning
dotnet_diagnostic.ca5371.severity = warning
dotnet_diagnostic.ca5372.severity = warning
dotnet_diagnostic.ca5373.severity = warning
dotnet_diagnostic.ca5374.severity = warning
dotnet_diagnostic.ca5375.severity = warning
dotnet_diagnostic.ca5376.severity = warning
dotnet_diagnostic.ca5377.severity = warning
dotnet_diagnostic.ca5378.severity = warning
dotnet_diagnostic.ca5379.severity = warning
dotnet_diagnostic.ca5380.severity = warning
dotnet_diagnostic.ca5381.severity = warning
dotnet_diagnostic.ca5382.severity = warning
dotnet_diagnostic.ca5383.severity = warning
dotnet_diagnostic.ca5384.severity = warning
dotnet_diagnostic.ca5385.severity = warning
dotnet_diagnostic.ca5386.severity = warning
dotnet_diagnostic.ca5387.severity = warning
dotnet_diagnostic.ca5388.severity = warning
dotnet_diagnostic.ca5389.severity = warning
dotnet_diagnostic.ca5390.severity = warning
dotnet_diagnostic.ca5391.severity = warning
dotnet_diagnostic.ca5392.severity = warning
dotnet_diagnostic.ca5393.severity = warning
dotnet_diagnostic.ca5394.severity = warning
dotnet_diagnostic.ca5395.severity = warning
dotnet_diagnostic.ca5396.severity = warning
dotnet_diagnostic.ca5397.severity = warning
dotnet_diagnostic.ca5398.severity = warning
dotnet_diagnostic.ca5399.severity = warning
dotnet_diagnostic.ca5400.severity = warning
dotnet_diagnostic.ca5401.severity = warning
dotnet_diagnostic.ca5402.severity = warning
dotnet_diagnostic.ca5403.severity = warning
dotnet_diagnostic.il3000.severity = warning
dotnet_diagnostic.il3001.severity = warning

[*.{asax,ascx,aspx,axaml,cs,cshtml,css,htm,html,js,jsx,master,paml,razor,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style = space
indent_size = 4
tab_width = 4

[*.{appxmanifest,axml,build,config,csproj,dbml,discomap,dtd,json,jsproj,lsproj,njsproj,nuspec,proj,props,resjson,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style = space
indent_size = 2
tab_width = 2
