<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="PowerShell Core" value="https://powershell.myget.org/F/powershell-core/api/v3/index.json" />
    <add key="AudioWorks" value="https://www.myget.org/F/audioworks/api/v3/index.json" />
  </packageSources>
</configuration>